body{
    background-color: #ffffff;
}

.header{
    width: 100%;
    height: 800px;
    background: url(../img/camp.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}